<main role="main" class="container">
  <div class="jumbotron">
    <h1>You want to see the current weather</h1>
    <p class="lead">Introduce your city. Our weather API is simple, clear and free.
       As you scroll, you can also search for previous cities..</p>
    <!-- <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a> -->
  </div>
</main>
